@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap')

*
  margin: 0
  padding: 0
  list-style: none
  text-decoration: none
  border: none
  outline: none
  font-size: 1em
  font-weight: 500
  font-family: 'Montserrat', sans-serif
  background: none
  box-sizing: border-box

.App
  display: flex

.buttons
  margin-top: 50px
  margin-left: 150px

.themeBtn
  cursor: pointer
  padding: 30px 50px

  &.grey
    background: #343434
    color: #fff
    margin-right: 10px
  &.violet
    background: #313347
    color: #fff
  &.dark
    background: #2E3E4E
    margin-right: 10px
    color: #fff